/* Custom Styles For The Social Media Widget Icons */

/*.socialmedia-buttons {
	margin-top: 5px;
	margin-left: 10px;
}*/

ul.socialmedia-buttons {
	margin-top: 5px !important;
}

ul.socialmedia-buttons li {
	display: inline;
	list-style: none;
	background: none !important;
	padding: 0 !important;
	margin-right: 10px !important;
}

ul.socialmedia-buttons img {
	border: 0 !important;
}

ul.socialmedia-buttons a,
.author-list a{
	background: none !important;
}

ul.socialmedia-buttons a:hover {
	text-decoration: none;
	border: 0;
}

ul.socialmedia-buttons img:hover {
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
	-moz-opacity: 1 !important;
}
